# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are Summarized

**Objectives:**

* Python
* R
* SQL

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. SciPy
4. Matplotlib
5. ggplot2
6. Apache Spark
7. Scikit-learn

| Data Science Tools |
| --- |
| Jupyter Notebook |
| RStudio |
| Visual Studio Code |

### Below are a few examples of evaluating arithmetic expressions in Python:

In [16]:
# This a simple arithmetic expression to mutiply then add integers

In [14]:
(3*4)+5

17

In [18]:
# This will convert 200 minutes to hours by diving by 60

In [20]:
200/60

3.3333333333333335

## Author

Mark Abdelmalik